body {
  width: 100%;
  overflow: auto;
}
.header-top {
  background: rgba(0, 47, 77, .3);
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
 }


#home{
  height: 100vh;
}
#logo{
  /* height: 100vh; */
  background: White;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#hi{
  height:100vh;
}
.cue{
  color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
}
#arrow{
  color: aquamarine;
  position: absolute;
  right: 0;
  font-size: 50px;
  font-weight: 300;
  
    transform: rotate(45deg);
    -webkit-transform: rotate(90deg);
 
}
#arrow a{
  text-decoration: none;
  color: aquamarine;
}
#navbar {
  background-color: #333;
  position: fixed;
  z-index: 99;
  top: -55px;
  width: 100%;
  display: block;
  transition: top 0.8s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
h1{
  font-size: 119px;
  font-weight: 900;
  font-family: monospace;
}
.bg-primary{
  height: 60vh;
}
#bg-warning{
  height: 100vh;
}
#discover{
  height: 100vh;
}
#update{
  height: 100vh;
}
.dis-btn{
  background-color: rgb(32, 182, 219);
  border: transparent;
  border-radius: 20px;
}
h2{
  font-size: 75px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: -5px;
}
.footer{
  background-color: aqua;
}
.c{
  margin-top: 50%;
  font-size: 190px;
}
.u{
  margin-top: 40%;
  font-size: 190px;
}
.e{
  margin-top: 30%;
  font-size: 190px;
}

#black-up{
  height: 85vh;
}
#image-bg{
  height: 100vh;
 
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h2{
    font-size: 50px;
      }
      h1{
        font-size: 100px;
          }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h2{
    font-size: 50px;
    }
    h1{
      font-size: 100px;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2{
    font-size: 50px;
     }
     h1{
      font-size: 100px;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h2{
    font-size: 75px;
    
  }
  h1{
    font-size: 119px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


